{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Begin Author Posts
================================================== -->
<div class="graybg authorpage">
	<div class="container">
		<div class="listrecent listrelated">

			<!-- begin post -->
			<div class="authorpostbox">
				<div class="card">
					<a href="author.html">

						<!--ACA VA LA IMAGEN DEL POST -->
						<img class="img-fluid img-thumb" src="{{ articulos.imagen.url }}" alt="">
					</a>
					<div class="card-block">
						<h2 class="card-title"> {{ articulos.titulo | capfirst }}</h2>
						<h2 class="card-title"></a>Resumen:</h1>
						<h4 class="card-text" style="font-size: 18px;">"{{ articulos.resumen | capfirst }}"</h4>
						<h2 class="card-title"></a>Contenido:</h2>
						<h4 class="card-text" style="font-size: 22px;">"{{ articulos.contenido | capfirst }}"</h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">

									<style>
										.author-thumb {
											width: 80px;
											/* Ajusta el valor según el tamaño deseado */
											height: 80px;
											/* Ajusta el valor según el tamaño deseado */
										}
									</style>

									{% if articulo.avatar %}
									<!-- Mostrar el avatar del artículo si existe -->
									<img class="author-thumb" src="{{ articulo.avatar.url }}">
									{% else %}
									<!-- Mostrar una imagen predeterminada si no hay avatar -->
									<img class="author-thumb" src="{% static 'avatar.jpg' %}">
									{% endif %}

								</span>
								<span class="author-meta">
									<span class="post-name"><a href="author.html">{{ articulos.nickname | capfirst}}</a></span><br />
									<span class="post-date">{{ articulos.publicado | date:"d/m/Y"}} </span></span><span class="post-read"></span>
									<br>
									<a class="btn follow float-left" style= "font-size: 0.7rem;"> {{ articulos.categoria.nombre }}</a>

									<br>
								</span>
								<br><br>
								<span class="post-read-more">
									<a href="#" title="Editar Articulo">
										<img class="svgIcon-use" src="{% static 'img/editar.jpg' %}" width="50" height="50">
									</a>
								</span>
								<a target="_blank" href="#" class="btn subscribe" style="font-size: 1rem; padding: 8px 10px;">Comentar</a>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- end post -->

			<!-- para centrar el texto  -->
			<style>
				.section-title {
					text-align: center;
				}
			</style>

			<section class="featured-posts">
				<div class="section-title">
					<h2><span>Comentarios del Articulo:</span></h2>
				</div>
			</section>
			<!-- End Author Posts ================================================== -->
			<!-- Estilos CSS para el recuadro -->
			<style>
				.post-recuadro {
					border: 1px solid #ccc;
					padding: 10px;
					margin-bottom: 20px;
				}

				.post-recuadro .author-thumb {
					max-width: 100%;
					border-radius: 50%;
					margin-left: 50px;
					/* Agrega un margen izquierdo para mover la imagen hacia la derecha */
					margin-top: 30px;
				}

			</style>

			<!-- Contenido del recuadro -->
			<div class="post-recuadro">
				<!-- Begin Top Meta -->
				<div class="row post-top-meta">
					<div class="col-md-2">
						<a href="author.html"><img class="author-thumb"
								src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"
								alt="Sal"></a>
					</div>
					<div class="col-md-10">
						<a class="link-dark" href="author.html">USUARIO :</a>
						<span class="author-description">Founder of WowThemes.net and creator of <b>"Mediumish"</b>
							theme that you're currently previewing. Developing professional premium themes, templates,
							plugins, scripts since 2012.</span>
						<span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6
							min read</span>
					</div>
				</div>
				<!-- End Top Meta -->
			</div>

			<!-- Begin AlertBar ================================================== -->
			<div class="alertbar">
				<div class="container text-center">
					<img src="{% static 'img/logo.jpg' %}" alt="logo"> &nbsp; ¡Un compromiso verde en crecimiento te
					espera! Mantente conectado con la naturaleza:<a href="{% url 'contacto:contacto' %}"
						class="btn subscribe">Contactanos</a>
				</div>
			</div>
			<!-- End AlertBar ================================================== -->

			{% endblock %}